* text=auto
*.bat text eol=crlf
*.cmd text eol=crlf
*.css text
*.gitattributes text
*.gitignore text
*.html text
*.java text
*.js text
*.json text
*.less text
*.p12 binary
*.png binary
*.properties text
*.scss text
*.sh text eol=lf
*.sql text
*.txt text
*.xml text
